@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
h1 {
  margin-bottom: 0%;
  font-family: Indie Flower;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  color: #00a9ff;
}

.home p {
  margin-top: 0%;
  font-family: Indie Flower;
  /* border: solid 2px red; */
  text-align: center;
  font-weight: bold;
  color: #00a9ff;
  font-size: 23px;
}
